<div class="container">
  <div id="timer">00:00.000</div>

  <div class="buttons">
    <button onclick="startCountdown(180, 60)">🏋️</button>
    <button onclick="startCountdown(1800, 300)">📚</button>
    <button onclick="startStopwatch()">⏱</button>
    <button onclick="stopTimer()">⏹</button>
    <button id="themeToggle" onclick="toggleTheme()">🌙</button>
  </div>

  <footer>
    <img src="/static/usdc.svg" alt="USDC" class="usdc-icon">
    <p class="wallet">0x37636e8cb438a33a0280e1fdb00162e80b15721e</p>
  </footer>
</div>
