<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Timer</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="container">
    <div id="timer">00:00.000</div>

    <div class="buttons">
      <!-- Countdown modes -->
      <button onclick="startCountdown(180, 60)">🏋️</button>
      <button onclick="startCountdown(1800, 300)">📚</button>
      <!-- Stopwatch -->
      <button onclick="startStopwatch()">⏱</button>
      <!-- Stop -->
      <button onclick="stopTimer()">⏹</button>
    </div>

    <footer>
      <p>💙</p>
      <p class="wallet">0x37636e8cb438a33a0280e1fdb00162e80b15721e</p>
    </footer>
  </div>
  <script src="/static/script.js"></script>
</body>
</html>
